.about {

    position: relative;
    padding: 140px 60px;

    background-image: url("../img/3416788.jpg");
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}


/* overlay escuro */

.about-overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(13, 13, 13, 0.326);

}

/* conteúdo */

.about-content {

    position: relative;
    max-width: 800px;
    z-index: 1;
}

.about-badge {

    color: #3b82f6;
    font-size: 13px;
    letter-spacing: 2px;
}

.about h2 {
    color: white;
    font-size: 42px;
    margin: 20px 0;
}

.about h2 span {
    color: #3b82f6;
}

.about p {

    color: #aaa;
    margin-bottom: 20px;
    line-height: 1.6;
}

/* stats */

.about-stats {

    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.stat h3 {

    color: #3b82f6;
    font-size: 28px;
}

.stat span {

    color: #888;
    font-size: 14px;
}

/* responsivo */

@media(max-width:768px){

.about {
    padding: 80px 20px;
}

.about h2 {
    font-size: 28px;
}

.about-stats {
    flex-direction: column;
    gap: 20px;
}

}
