  #contact {
      margin-top: 100px;
      background: #f9f9f9;
      display: flex;
      justify-content: center;
      align-items: center;
  }


  .contact-container {
      padding: 30px 30px 30px 30px;
      width: 60%;
      background: #fff;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      text-align: center;
      opacity: 0;
      transform: translateY(30px);
      animation: fadeInUp 1s forwards;
  }

  @keyframes fadeInUp {
      to {
          opacity: 1;
          transform: translateY(0);
      }
  }

  .contact-container span {
      display: block;
      font-size: 3rem;
      padding-bottom: 40px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #086cef;
  }

  .main-contacts {
      width: 50%;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
  }

  .main-contacts a {
      display: flex;
      align-items: center;
      gap: 20px;
      text-decoration: none;
      color: #333;
      font-size: 16px;
      background: #f1f1f1;
      padding: 10px;
      border-radius: 8px;
      transition: background 0.3s, transform 0.3s;
  }

  .main-contacts a:hover {
      background: #086cef;
      color: #fff;
      transform: scale(1.05);
  }

  .socials {
      margin-top: 80px;
      border: 4px solid;
      display: flex;
      justify-content: space-between;
  }

  .socials a {
      display: flex;
      gap: 20px;
      text-decoration: none;
      font-size: 16px;
      color: #333;
      background: #f1f1f1;
      padding: 10px 15px;
      border-radius: 8px;
      transition: 0.5s;

  }

  .socials a:hover {
      background: #086cef;
      color: #fff;
      transform: scale(1.05);
      transition: 0.5s;
  }

  @media(max-width: 870px) {
    .main-contacts{
        width: 90%;
    }

}

  @media (max-width: 768px) {
      #contact {
          width: 100%;
      }

      .contact-container {
          width: 80%;
      }

      .main-contacts {
          width: 70%;
      }
  }

  @media(max-width: 575px) {
      .main-contacts {
          width: 100%;
      }
  }

  @media(max-width: 525px) {
      .main-contacts {
          width: 100%;
      }
  }

  @media (max-width: 420px) {
      .main-contacts {
          width: 100%;
      }
  }

  @media(max-width: 460px) {
      .main-contacts {
          width: 100%;
      }
  }

  @media(max-width: 379px) {

      .contact-container {
          width: 90%;
      }

      .contact-container span {
          font-size: 1.7rem;
      }

      .contact-container a {
          font-size: 1rem;
      }

      .main-contacts {
          width: 100%;
          margin-top: 40px;
          display: flex;
          flex-direction: column;
          gap: 10px;
      }

  }