 header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 10px 5px;
   background: #0b1020;
   position: relative;
   top: 0;
   left: 0;
   z-index: 1000;

   /*efeito*/
   position: relative;
   background: radial-gradient(circle at center, #0b1020, #000);
   overflow: hidden;
 }

 header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 40px 40px;
  animation: moveDots 8s linear infinite;
  opacity: 0.3;
}

 nav {
   display: flex;
   align-items: center;
   gap: 2rem;
   width: 40%;
   
 }

 nav a {
   text-decoration: none;
   color: white;
   font-size: 1.3rem;
   transition: color 0.3s;
   transition: 0.3s;
 }

 nav a:hover {
   color: #086cef ;
   transition: 0.5s

 }

 a {
    text-decoration: none;
    transition: all 0.4s;
  }

  a:hover {
    letter-spacing: 4px;
  }

 .logo img {
   width: 350px;
 }

 /* Ícone do menu */
 .hamburger {
   display: none;
   flex-direction: column;
   cursor: pointer;
   gap: 6px;
   z-index: 1100;
   
 }

 .hamburger span {
   width: 25px;
   height: 3px;
   background: white;
   border-radius: 5px;
   transition: all 0.3s;
 }

 /* Menu lateral (mobile) */
 @media (max-width: 1224px) {

   .logo img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
     width: 350px;
   }

   nav {
     position: fixed;
     top: 0;
     right: 0;
     height: 100vh;
     width: 60%;
     background: #01030a;
     flex-direction: column;
     align-items: center;
     background: #0b1020;
     justify-content: center;
     gap: 4rem;
     transform: translateX(100%);
     transition: transform 0.4s ease;
     font-family: "Archivo Black", sans-serif;

     
   }

    nav {
    position: relative;
    z-index: 1100; /* acima do overlay */
  }

   nav.active {
     transform: translateX(0);
   }

   .hamburger {
     display: none;
   }

   
 }

 
@media (min-width: 1225px) {
  nav {
    position: relative;
    z-index: 1100; /* acima do overlay */
  }

  .overlay {
    display: none !important;
    z-index: 0 !important;
    opacity: 0 !important;
    pointer-events: none !important;
  }

  .hamburger {
    display: none !important;
  }
}


 /* Animação do ícone ao abrir */
 .hamburger.active span:nth-child(1) {
   transform: rotate(45deg) translate(5px, 5px);
 }

 .hamburger.active span:nth-child(2) {
   opacity: 0;
 }

 .hamburger.active span:nth-child(3) {
   transform: rotate(-45deg) translate(6px, -6px);
 }

 /* Efeito de escurecimento do fundo quando o menu abre */
 .overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background: rgba(0, 0, 0, 0.5);
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.4s ease;
   z-index: 900;
   
 }

 .overlay.active {
   opacity: 1;
   pointer-events: all;
 }


 @media(max-width:554px) {
  
   .logo img {
     width: 300px;

   }

 }

 @media(max-width: 540px){

   
}


 @media(max-width: 458px) {
   .logo img {
     width: 300px;
   }

 }

 @media(max-width: 414px){
    .logo{
      width: 200px;
    }
 }

 @media(max-width: 403px) {
   .logo img {
     width: 350px;
   }

 }

 @media(max-width: 398px) {
   .logo img {
     width: 300px;
   }

 }



 @media(max-width: 354px) {
   .logo img {
     width: 240px;
   }
 }