.corpo {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;

}

.corpo_principal {
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;

}

.imagem_corpo img {
    width: 550px;
    box-shadow: 10px 10px 20px rgb(84, 83, 83);
    border-radius: 15px;
}

.div_introducao {
    display: flex;
    gap: 40px;
}


.div_texto h1 {
    font-family: "Archivo Black", sans-serif;
    color: #232427;
    font-weight: 500;
    padding-bottom: 20px;
    font-size: 5rem;
}

.div_texto span {
    font-size: 1.4rem;
    font-weight: 600;
}

.div_texto ul {
    list-style: none;
}

.div_texto li {
    padding-top: 10px;
    font-size: 1.4rem;
}

.btn-corpo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.btn-corpo-filho {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.btn-corpo-filho p {
    padding-top: 5px;
    font-size: 1.2rem;
    font-weight: 500;

}

.btn-corpo-filho button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: #086cef;
    color: white;
    transition: 0.6s;
}

.btn-corpo-filho button:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

/*RESPONSIVIDADE*/

@media (max-width:1274px) {
    .corpo {
        height: 150vh;
    }

}

@media(max-width:1035px){
    .div_introducao {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .div_introducao img{
        width: 700px;
    }
}

@media(max-width: 877px){
    .corpo{
        height: 180vh;

    }

    .corpo_principal{
        width: 100%;
    }

    .div_introducao{
        display: flex;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .div_texto{
        padding: 30px;       
    }

    .div_texto li{
        width: 90%;
    }
}

@media(max-width: 870px){
    .div_introducao{
        display: flex;
        flex-direction: column;
    }

    .imagem_corpo img{
        width: 600px;
    }
}

@media(max-width: 870px){
    .corpo{
        min-height: 90vh;
    }
}


 @media (max-width: 489px) {

    .btn-corpo-filho{
        width: 100%;
        display: flex;
        flex-direction: column;
     }
 }

@media(max-width: 470px) {
    .corpo{
        width: 100%;
        height: 120vh;
    }

    .btn-corpo-filho {
        display: flex;
        flex-direction: column;

    }
}

@media(max-width: 490px){

    .btn-corpo-filho{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 487px){
    .corpo{
        min-height: 160vh;
    }
}

@media(max-width: 471px){
    .corpo{
        min-height: 160vh;
    }
}

@media(max-width: 464px){
    .corpo{
        color: white;
        width: 100%;
        min-height: 120vh;
        background-color: #0b1020 ;
    }

    .corpo h1{
        color: white;
    }

    .btn-corpo{
        padding-left: 30px;
    }
}


@media(max-width: 430.90px) {
    .corpo {
        min-height: 120vh;
    }
}

@media(max-width: 412px){
    .corpo{
        min-height: 120vh;
    }
}


@media(max-width: 394px){
    .corpo{
        min-height: 180vh
    }
}

@media(max-width: 390px) {
    .corpo {
        width: 100%;
        height: 140vh;
    }
}

@media(max-width: 370px) {
    .corpo {
        height: 120vh;
        padding-bottom: 100px;
    }

    .corpo_principal {
        width: 100%;

    }

    .div_texto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div_texto h1 {
        font-size: 2.5rem;
        margin-left: 20px;

    }

    .div_texto h2 {
        font-size: 1.5rem;

    }

    .div_texto li {
        margin-left: 20px;
    }

    .div_texto span {
        font-size: 1rem;
    }

    .btn-corpo p {
        font-size: 1rem;

    }

    .btn-corpo-filho {
        display: flex;
        flex-direction: column;
    }


}
@media(max-width: 369.80px){
    .corpo{
        min-height: 150vh;
    }
    
    .btn-corpo-filho{
        display: flex;
        align-items: center;
    }

    .btn-corpo-filho p{
        margin-left: 22px
    }
}

@media(max-width: 367px) {
    .corpo {
        min-height: 120vh;
        padding-bottom: 100px;
    }

    .btn-corpo-filho p{
        margin-left: 10%;
    }
}

@media(max-width: 362.90px){
    .corpo{
        min-height: 150vh;
    }
}

@media (max-width:775px){
    .corpo{
        width: 100%;
        height: 100vh;
    }
} 

@media (max-width:780px) {
    .corpo {
        width: 100%;
    }

    .div_introducao {
        width: 100%;
    }

    .div_introducao h1 {
        font-size: 4rem;

    }

    .div_introducao li {
        font-size: 1rem;
    }

    .div_introducao img {
        display: none;
    }
}