.corpo {
    padding-top: 30px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #0b1020;
    color: white;

}

/*FUNDO ESTRELADO*/

.corpo {
  position: relative;
  background: radial-gradient(circle at center, #0a0f1f, #000);
  overflow: hidden;
}

.corpo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 40px 40px;
  animation: moveDots 8s linear infinite;
  opacity: 0.3;
}

@keyframes moveDots {
  from { transform: translate(0, 0); }
  to { transform: translate(40px, 40px); }
}

/**/


.corpo_principal {
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;

}

.imagem_corpo img {
    width: 550px;
    box-shadow: 10px 10px 20px rgb(84, 83, 83);
    border-radius: 15px;
}

.div_introducao {
    display: flex;
    gap: 40px;
}


.div_texto h1 {
    font-family: "Archivo Black", sans-serif;
    color: white;
    font-weight: 500;
    padding-bottom: 20px;
    font-size: 4rem;
}

.div_texto span {
    font-size: 1.4rem;
    font-weight: 600;
}

.div_texto ul {
    list-style: none;
}

.div_texto li {
    padding-top: 10px;
    font-size: 1.4rem;
}

.div_texto img{
    width: 500px;

}

.video-for-cell{
    display: none;
    width: 100%;
    margin-top: 30px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(1, 11, 54, 0.664);  
}

.video-for-desk{
    width: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(1, 11, 54, 0.664);
}

.btn-corpo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.btn-corpo-filho {
    padding-bottom: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.btn-corpo-filho p {
    padding-top: 5px;
    font-size: 1.2rem;
    font-weight: 500;

}

.btn-corpo-filho button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: #086cef;
    color: white;
    transition: 0.6s;
}

.btn-corpo-filho button:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

/*RESPONSIVIDADE*/
@media(max-width:1280px){
    .corpo{
        width: 100%;
        height: 105%;
    }

    .btn-corpo{
        padding-bottom: 20px;
    }
}

@media(max-width:1024px){
    .div_introducao {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 105%;
        align-items: center;
    }

    .div_texto h1{
        font-size: 3rem;
    }
    
    .btn-corpo{
        padding-bottom: 20px;
    }

    .div_introducao img{
        width: 700px;
    }
}

@media(max-width: 877px){
    .corpo{
        width: 100%;
        height: 100%;

    }

    .corpo_principal{
        width: 100%;
    }

    .div_introducao{
        display: flex;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .div_texto{
        padding: 30px;       
    }

    .div_texto li{
        width: 90%;
    }
}

@media(max-width: 870px){
    .div_introducao{
        display: flex;
        flex-direction: column;
    }

    .imagem_corpo img{
        width: 600px;
    }
}

@media(max-width: 870px){
    .corpo{
        min-height: 90vh;
    }
}

@media(max-width: 854px){
    .corpo{
        width: 100%;
        height: 100%;
    }
}
    


@media(max-width:820px){
    .corpo{
        width: 100%;
        height: 100%;
    }
}

@media (max-width:780px) {
    .corpo {
        width: 100%;
    }

    .div_introducao {
        width: 100%;
    }

    .div_introducao h1 {
        font-size: 3rem;

    }

    .div_introducao li {
        font-size: 1rem;
    }

    .div_introducao img {
        display: none;
    }
}

@media(max-width: 768px){
  
    .corpo{
        width: 100%;
        height: 100%;
    }
  
}


 @media (max-width: 489px) {

    .btn-corpo-filho{
        width: 100%;
        display: flex;
        flex-direction: column;
     }
     
 }

@media(max-width: 470px) {
    .corpo{
        width: 100%;
        height: 100%;
    }

    .btn-corpo-filho {
        display: flex;
        flex-direction: column;

    }

    .div_texto h1{
        font-size: 2.5rem;
    }

}

@media(max-width: 490px){

    .btn-corpo-filho{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 487px){
    .corpo{
        min-height: 160vh;
    }
}

@media(max-width: 471px){
    .corpo{
        min-height: 160vh;
    }
    
    .video-for-cell{
        display: flex;

     }

     .video-for-desk{
        display: none;
     }
}

@media(max-width: 464px){
    .corpo{
        color: white;
        width: 100%;
        min-height: 120vh;
        background-color: #0b1020 ;
    }

    .corpo h1{
        color: white;
    }

    .btn-corpo{
        padding-left: 30px;
    }
}


@media(max-width: 430.90px) {
    .corpo {
        min-height: 120vh;
    }
}

@media(max-width: 412px){
    .corpo{
        min-height: 120vh;
    }
}


@media(max-width: 394px){
    .corpo{
        min-height: 180vh
    }
}

@media(max-width: 390px) {
    .corpo {
        width: 100%;
        height: 140vh;
    }
}

@media(max-width: 370px) {
    .corpo {
        height: 120vh;
        padding-bottom: 100px;
    }

    .corpo_principal {
        width: 100%;

    }

    .div_texto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div_texto h1 {
        font-size: 2.5rem;
        margin-left: 20px;

    }

    .div_texto h2 {
        font-size: 1.5rem;

    }

    .div_texto li {
        margin-left: 20px;
    }

    .div_texto span {
        font-size: 1rem;
    }

    .btn-corpo p {
        font-size: 1rem;

    }

    .btn-corpo-filho {
        display: flex;
        flex-direction: column;
    }


}
@media(max-width: 369.80px){
    .corpo{
        min-height: 150vh;
    }
    
    .btn-corpo-filho{
        display: flex;
        align-items: center;
    }

    .btn-corpo-filho p{
        margin-left: 22px
    }
}

@media(max-width: 367px) {
    .corpo {
        min-height: 120vh;
        padding-bottom: 100px;
    }

    .btn-corpo-filho p{
        margin-left: 10%;
    }
}


@media(max-width: 344px){
    .corpo{
        width: 100%;
        height: 100%;
    }

    .div_texto h1{
        font-size: 2.3rem;
    }

    .video-for-cell {
        width: 80%;
    }
}


