#sobre{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sobre_principal{
    padding-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.sobre_principal img{
    width: 500px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgb(84, 83, 83);
}

.sobre_txt{
    width: 30%;
    font-size: 1.5rem;
    padding-top: 30px;

}


@media(max-width: 870px){
    #sobre h1{
        margin-left: 50px;
    }

    .sobre_principal{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .sobre_principal img{
        width: 600px;
    }

    .sobre_txt{
        width: 90%;
    }
}

@media (max-width:780px){
    #sobre{
        width: 100%;
    }

    #sobre h1{
        font-size: 2.2rem;
        margin-left: 30px;

    }

    .sobre_principal{
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .sobre_principal img{
        width: 400px;
    }

    .sobre_txt{
        width: 90%;
    }
}

@media(max-width: 415px){

    .sobre-imagem img{
        width: 350px;
    }
}

@media(max-width: 375px){
    #sobre img{
        width: 300px;
    }

    .sobre_txt p{
        font-size: 1rem;
    }
}